<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012-2013 Manuel Schulze <manuel_schulze@i-entwicklung.de>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="accountDao" class="de.iew.framework.persistence.hibernate.HbmAccountDaoImpl"/>

    <bean id="auditEventMessageDao" class="de.iew.framework.persistence.hibernate.HbmAuditEventMessageDaoImpl"/>

    <bean id="authorityDao" class="de.iew.framework.persistence.hibernate.HbmAuthorityDaoImpl"/>

    <bean id="messageDao" class="de.iew.framework.persistence.hibernate.HbmMessageBundleDaoImpl"/>

    <bean id="nodeDao" class="de.iew.framework.persistence.hibernate.HbmNodeDaoImpl"/>

    <bean id="simpleTextDataDao" class="de.iew.framework.persistence.hibernate.HbmSimpleTextDataDaoImpl"/>

    <bean id="treeDao" class="de.iew.framework.persistence.hibernate.HbmTreeDaoImpl"/>

    <bean id="treeOperationDao" class="de.iew.framework.persistence.hibernate.HbmTreeOperationDaoImpl"/>

    <bean id="webResourceDao" class="de.iew.framework.persistence.hibernate.HbmWebResourceDaoImpl"/>

    <bean id="dataSourceDao" class="de.iew.framework.persistence.hibernate.HdmDataSourceDaoImpl"/>

</beans>